*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* HEADER */

header{
    padding: 22px 0 21px 0;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-around;
    font-family: 'Noto Sans', sans-serif;
    background-color: #1A7FBD;
}
#btn-ps{
    padding: 15px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 6px;
}
#div-header{
    height: 0px;
    width: calc(1284px - 79px);
    margin-left: 79px;
    top: 86px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.6979166666666667) 0%, rgba(255,255,255,1) 100%);
}

/* FIRST SECTION */

#first-section{
    display: flex;
    width: 831px;
    height: 859px;
}
#persons-1{
    margin-left: -180px;
}
#blank-img{
    width: 456px;
    height: 457px;
    margin-top: 278px;
    height: 456px;

}

#register-form{
    background-color: #ffffff;
    width: 405px;
    height: 729px;
    border-radius: 12px;
    position: absolute;
    margin-left: -200px;
    margin-top: 87px ;
}
#form-title{
    margin: 31px 0px 14px 39px;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #CECECE;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

#fillout{
    color: #1A7FBD;
    background-color: #ffffff;
    margin-left: 39px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    line-height: 17px;
    font-size: 14px;
}

.register{
    display: flex;
    margin-left: 24px;
    margin-top: 16px;
    justify-content: space-around;
    padding-left: 23px;
    height: 40px;
    width: 356px;
    border-radius: 6px;
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff;
}

#name{
    background-image: url("/assets/user.png");
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: left;
    background-position-x: 3px;
    background-color: #FBFBFB;
    
}

#email{
    background-image: url("/assets/mail.png");
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: left;
    background-position-x: 3px;
    background-color: #FBFBFB;
}

#state{
    background-image: url("/assets/state.png");
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: left;
    background-position-x: 3px;
    background-color: #FBFBFB;
}

.checkboxes{
    background-color: #1A7FBD;
    width: 405px;
    height: 170px;
}