:root{
    --primaryColor:#1A7FBD;
    --white:#ffffff
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: var(--primaryColor);
    font-family: 'HK Grotesk', sans-serif;
}
/* HEADER */

.header{
    background-color: var(--primaryColor);
    
}
.collapse{
    margin: 0 60px 0 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 976px;
    color: var(--white);
}
.nav-item .nav-link {
    color: var(--white);
}
.bg-light{
    --bs-bg-opacity:0;
}
.btn{
    background-color: #000000;
    color: var(--white);
    border: none;
    width:159px; 
    height:43px;
}
.btn:hover{
    background-color: var(--primaryColor);
    border:2px solid var(--white);
}
.line{
    margin: 0 auto ;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent , #ffffff 50%, transparent );

}

/* SECTION 1 FORM */
.second-section{
    display: flex;
    flex-direction: row;
}
.container-img{
    width: 859px;
    height: 832px;
    margin-left: -250px;
    margin-right: 220px;
}



.register-form-total{
    background-color: var(--white);
    max-height: 729px;
    min-width: 405px;
    border-radius: 12px;
    margin-top: 106px;
}
form h3,h4{
    margin-left: 39px;
    
}
form h3{
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 14px;
    color: #CECECE;
}
form h4{
    font-family: 'HK Grotesk';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primaryColor);
}


.form-check-input{
    background-color: var(--primaryColor);
    outline-offset: 1px;
    width: 15px;
    height: 15px;
}
.form-check-input:checked{
    background-color: var(--white);
    width: 15px;
    height: 15px;
    border: none;
    outline: 1px solid var(--white);
    outline-offset: 2px;
}
.form-check-input:focus{
    box-shadow: none;
    border: 1px solid var(--white);
}
.inputs-patterns{
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center left;
    background-position-x: 5px;
    padding-left: 30px;
    background-color:var(--white);
    border:1px solid #CECECE ;
    max-width: 356px;
    margin-left: 25px;
    margin-bottom: 10px;
}
#input-name{
    background-image: url('/assets/user.png');
}
#input-email{
    background-image: url('/assets/mail.png');
}
.form-select{
    background-repeat: no-repeat;
    padding-left: 30px;
    background-color:var(--white);
    border:1px solid #CECECE ;
    width: 356px;
    margin-left: 25px;
    margin-bottom: 32px;
    background-image: url('/assets/select.png');
    background-size: 95%;
    padding-right: 2.375rem;
}
.checkboxes{
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
}
.checkboxes h4{
    color: var(--white);
    margin-top: 24px;
    margin-left: 25px;
    margin-bottom: 5px;
}
.checkbox-1,.checkbox-2, .checkbox-3 {
    display: flex;
    justify-content: space-between;
    margin-bottom:5px;
    margin-top: 7px;
    color: var(--white);
    align-items: center;
}
.form-check{
    margin:0 30px 20px 30px;
}
.experience{
    margin-top: 32px;
    background-color: var(--white);
    color: var(--primaryColor);
}
.checkbox-selection{
    display: flex;
    justify-content: left;
    margin-left: -35px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #CECECE;
}
.checkbox-selection .form-check-label  {
    margin-left: 45px;
}
.checkbox-selection .form-check-input{
    background-color: var(--white);
    border: 1px solid var(--primaryColor);
}
.checkbox-selection .form-check-input:checked{
    background-color: var(--primaryColor);
    outline: 1px solid var(--primaryColor);
    outline-offset: 2px;
    appearance: none;
    -webkit-appearance: none;
}
.info-submit{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.obg-fields{
    align-items: center;
    text-align: center;
    font-family: HK Grotesk;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.20000000298023224px;
    margin-top: -20px;

}

.info-submit .submit{
    width: 356px;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--primaryColor);
    color: var(--white);
    border: none;
    margin-bottom: 10px;
}
.info-submit .submit:hover{
    background-color: var(--white);
    color: var(--primaryColor);
    border: 3px solid var(--primaryColor);
    scale: 1.1;
}
.additional-info{
    height: 24px;
    width: 272px;
    color: #CECECE;
    font-family: 'HK Grotesk';
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.additional-info .bold{
    color: var(--primaryColor);
}


/* THIRD SECTION */
.third-section{
    margin-top: 150px;
    display: flex;
    height: 558px;
    flex-direction: row;
    align-items: center;
}
.container-img-2 img{
    width: 533.76px;
    height: 461px;
    margin-left: 179px;
}
.project{
    margin-left: 98px;
    height: calc(48+20+209);
    color: var(--white);
}
.project-title{
    color: #A4DCFF;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.project-text-1{
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    max-width: 404px;
}